/* form page */
body.container {
    padding: 20px 10px;
}
input, textarea {
    border-radius: 2px;
}
input[type="radio"] {
    margin-left: 10px;
    margin-right: 2px;
}
textarea {
    resize: vertical;
}
.input-box {
    padding:5px;
    margin: 10px;
}
.radio-button-div {
    margin: 10px 0 10px 0;
}
.f-09 {
    font-size: 0.9rem;
}

/* Results page */
table {
	width: 100%;
}
tbody {
	border: 2px solid black;
}
tr {
	background-color: lemonchiffon;
}
tr:first-child {
	background-color: pink;
}
tr, th {
	border-bottom: 2px solid black;
}
td {
	border-right: 2px solid black;
	padding: 5px;
}
th td:first-child, tr td:first-child {
	width: 30%;
}